.photo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.3rem;
}


.photo > img{
    width: 20rem;
    height: 20rem;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    transition: all ease-in-out 0.4s;
    box-shadow: 0 0 0 0.1rem var(--color-primary);
}

.photo > img:hover{
    scale: 1.1;
}

.photo > .card {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--color-primary);
    gap:1rem;
}

.photo > .card > .title-card > .title{
font-size: 1.5625rem;
}

.photo > .card > .description {
    font-size:1.25rem;
}

@media (max-width: 500px) {
    .photo {
        gap:1rem;
    }

    .photo > img {
        width: 15rem;
        height: 10rem;
    }

    .photo > .card > .description {
        overflow-y: scroll;
        overflow-x:none;
        height: 10rem;
    }

    .photo > .card > .title-card > .title{
        font-size: 1.4rem;
    }

    .photo > .card {
        width: 100%;
        padding:  0 2rem;
    }

}