figure{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}


figure > img{
    width: 21.25rem;
    height: 21.25rem;
    border-radius: 0.5rem;
    transition: all ease-in-out 0.4s;
}

figure > img:hover{
    scale: 1.1;
}

.card {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    gap:1rem;
}

.title{
font-size: 1.5625rem;
}

.description {
    font-size:1.25rem;
}
