.photoDay {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap:1rem; 
}
.photoDay > article {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    margin-left: 4rem
}

.photoDay > article > h1 {
    font-size: 1.8rem;
    font-family: var(--typography-secondary);
    color: var(--color-highlight);
    letter-spacing:1px;
}

.photoDay > article > .form-date {
    appearance: none;
    color: #1D1D1D;
    font-family: var(--typography-base);
    font-size: 1.125rem;
    border:1px solid var(--color-secondary);
    border-radius: 8px;
    background:var(--color-primary);
    padding: 4px;
    display: inline-block;
    visibility: visible;
    width: 8.75rem;
    }
    .photoDay > article > .form-date:focus {
    color: #495057;
    background-color: var(--color-primary);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--color-secondary);
    }
    .photoDay > article > .form-date:hover {
        cursor: pointer;
    }

    @media (max-width: 500px) {
        .photoDay{
            align-items: center ;
        }

        .photoDay > article {
            margin-left: 0;
            width: 100%;
        }

        .photoDay > article > h1 {
            font-size: 1.5rem;
        }
    }