.video {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video > iframe {
    width: 58%;
    height: 90%;
    border-radius: 0.5rem;
}

@media (max-width: 500px) {
    .video > iframe {
        height: 50%;
        width: 95%;
    }
}