.videos {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem
}

.videos > video {
    width: 30rem;
    height: 20rem;
    border-radius: 0.5rem;
}

@media (max-width: 500px) {
    .videos {
       flex-direction: column;
       
    }
    .videos > video {
        width: 20rem;

    }
}