.imgRover > img {
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    transition: all ease-in-out 0.4s;
}

.imgRover > img:hover {
scale: 1.1;
}

@media (max-width: 500px) {
    .imgRover > img  {
        width: 5.5rem;
        height: 5rem;
    }

    .imgRover > img:hover {
        scale: 1.3;
    }
}