header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

header > a > img {
    height: 6.25rem;
    padding-left: 2rem;
}

