footer {
    display: flex;
    justify-content:end;
    text-align: center;
    align-items: center;
    gap:1rem;
    padding-right: 1rem;
}

.footer-social {
    display: flex;   
    gap:1rem
}

.footer-social > a > img {
    width: 2rem;
}