footer {
    display: flex;
    justify-content:end;
    text-align: center;
    align-items: center;
    gap:1rem;
    padding-right: 1rem;
}

footer > .footer-social {
    display: flex;   
    gap:1rem
}

footer > .footer-social > a > img {
    width: 2rem;
}

@media (max-width: 500px) {
    footer > .footer-social > a > .github {
        filter: invert(90%);
    }

    footer > .footer-social > a > img {
        width: 1.5rem;
    }
}