footer {
    display: flex;
    justify-content:space-around;
    text-align: center;
    align-items: center;
}

.footer-social {
    display: flex;   
    gap:1rem
}

.footer-social > a > img {
    width: 2rem;
}