@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


@font-face {
    font-family: 'Nasa';
    src: url('./assets/fonts/Nasa.ttf');
    font-style: normal;
  font-weight: normal;
}

:root { 
    --color-primary: #f5f5f5;
    --color-secondary: #0B3D91;
    --color-highlight: #ff0000;

    --typography-base: 'Roboto Condensed';
    --typography-secondary: 'Nasa';
}

* {
    margin: 0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
    font-family: var(--typography-base), sans-serif;
}


body {
    background-image: url("https://res.cloudinary.com/dy4mossqz/image/upload/v1683576735/img/photo-1488866022504-f2584929ca5f_t8tc6s.avif");
    background-position: top;
    color:var(--color-primary);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

main {
    min-height: 70vh;
}

h2 {
    color:var(--color-highlight);
    text-transform: uppercase;
    font-family: var(--typography-secondary);
    letter-spacing:1px;
}

button {
    height: 2.5rem;
    width: 12.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    background-color:var(--color-primary);
    color:#0B3D91;
  }
  button:hover {
    background-color: #a09c9c;
cursor: pointer;
  }

