* {
    margin: 0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}


body {
    background-image: url("https://res.cloudinary.com/dy4mossqz/image/upload/v1683556483/img/starry-sky-milky-way-stars-hd-wallpaper-preview_ucmj9o.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:whitesmoke;
}

main {
    min-height: 75vh;
}

