nav {
    width: 70%;
}

nav > ul {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 3rem;
}

a{
    text-transform: uppercase;
    color:inherit;
    font-size: 1.2rem;
    font-weight: bold;
}

nav > ul > li > a:hover {
    border-bottom: 1px solid #ff0000;
}

.active{
    border-bottom: 1px solid #ff0000;
}
