nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav > ul {
    height: 5vh;
    padding-right: 3rem;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:6rem;
   
}

nav > ul > li > a{
    text-transform: uppercase;
    color:inherit;
    font-family: var(--typography-secondary);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing:1px; 
    text-decoration: none;
}

nav > ul > li > a:hover {
    border-bottom: 1px solid var(--color-highlight);
}

nav > ul > li > .active{
    border-bottom: 1px solid var(--color-highlight);
}

@media (max-width: 500px) {
nav {
    padding: 0 1rem;
}

    nav > ul {
        gap:1rem;
        padding-right: 0;
    }
}